.btn {
  padding: 10px 30px;
  color: aquamarine;
  border-radius: 99px;
}

.btn.btn-primary {
  background-color: bisque;
  color: blue;
}
.btn.btn-secondary {
  background-color: rgb(202, 135, 52);
  color: rgb(56, 123, 79);
}
.btn.btn-warning {
  background-color: rgb(41, 100, 209);
  color: rgb(188, 194, 114);
}
.btn.btn-danger {
  background-color: rgb(214, 43, 188);
  color: rgb(30, 30, 68);
}
